
#metadatos {
border-style: outset;
padding: 7px;
border: medium dotted #008B8B;
border-radius: 5px;
font-family: "Lucida Console", "Courier New", monospace;
margin: 7px;
}

#poema {
margin-left: 20px;
padding-left: 20px;
line-height: 0.8rem;
display: block;
}

/* Colores: */
.persName {
    color: #FF1493;
}

.placeName {
    color: #C71585;
}

.roleName {
    color: #2F4F4F;
}

.name {
    color: #FF8C00;
}

.q {
    color: #DC143C;
}

