
#metadatos {
border-style: outset;
padding: 7px;
border: 2px dotted #008B8B;
border-radius: 5px;
font-family: "Lucida Console", "Courier New", monospace;
margin: 7px;
}

#poema {
margin-left: 20px;
padding-left: 20px;
line-height: 0.8rem;
display: block;
}

/* Colores: */
.persName {
    color: #483D8B;
}

.placeName {
    color: #E9967A;
}

.roleName {
    color: #2F4F4F;
}

.name {
    color: #556B2F;
}

.q {
    color: #8B0000;
}

